<div>
  <span class="paprika">Paprika,</span><span class="saying"> what's happening<span class="blink">?</span></span>
</div>

<div class="row">

  <div class="col-md-10">
    <div id="chart">
    </div>
  </div>

  <div class="col-md-2">
    <%= render @stories %>
  </div>

</div>