/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
 */
@import "bootstrap";
/* Some Style from the Bootstrap Default Theme */

html,
body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  /* The html and body elements cannot have any padding or margin. */
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

#axis0 {
  position: absolute;
  height: 800px;
  width: 40px;
}

#axis1 {
  position: absolute;
  left: 1050px;
  height: 800px;
  width: 40px;
}

.abstract {
  width: 350px;
  font-size: 14px;
}

.headline {
  text-align: center;
  font-size: 14px;
}

#heading {
  padding: 20px 0 20px 0;
}

.paprika {
  font-family: 'Lato Ultra-Bold', sans-serif;
  font-weight: 900;
  font-size: 54px;
  color: #FF4D00;
}

.chart-container {
  padding: 10px 0 0 5px;
}

#saying {
  font-family: 'Lato Thin', sans-serif;
  font-weight: 100;
  font-size: 52px;
  color: #0D1B1E;
  letter-spacing: -2px;
}

#saying .blink {
  font-family: 'Lato Thin', sans-serif;
  font-weight: 100;
  font-size: 52px;
  color: #0D1B1E;
  letter-spacing: -2px;
}

.story-container {
  padding: 15px 0 0 0;
}

.story {
  font-family: 'Lato Thin', sans-serif;
  font-weight: 100;
  font-size: 21px;
  color: #0D1B1E; 
}

a.story:hover {
  color: #FF4D00; 
  text-decoration: none;
}

a.story:focus {
  color: #0D1B1E; 
  text-decoration: none;
}

.bullet {
  font-family: 'Lato Thin', sans-serif;
  font-weight: 100;
  color: #FF4D00; 
}

.rank {
  padding: 2px 5px 0 10px;
  font-family: 'Lato Thin', sans-serif;
  font-weight: 100;
  font-size: 18px;
  color: #0D1B1E; 
  text-align: right;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -40px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 40px;
}
#footer {
  background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.credit {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 12px;
  color: #0D1B1E;
  padding: 12px 0 0 0;
}

.click-container {
  padding: 10px 0 0 0;
  font-family: 'Lato Thin', sans-serif;
  font-weight: 100;
  text-align: left;
  font-size: 10px;
  font-style: italic;
}
