/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  padding-bottom: 30px;
  font-family: 'Lato', sans-serif;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

#axis0 {
  position: absolute;
  height: 800px;
  width: 40px;
}

#axis1 {
  position: absolute;
  left: 1050px;
  height: 800px;
  width: 40px;
}

.abstract {
  width: 350px;
}

.headline {
  text-align: center;
}

#heading {
  padding: 20px 0 15px 0;
}

.paprika {
  font-family: 'Lato Ultra-Bold', sans-serif;
  font-weight: 900;
  font-size: 54px;
  color: #FF4D00;
}

.chart-container {
  padding: 7px 0 0 5px;
}

.saying {
  font-family: 'Lato Thin', sans-serif;
  font-weight: 100;
  font-size: 52px;
  color: #0D1B1E;
  letter-spacing: -2px;
}

.saying .blink {
  font-family: 'Lato Thin', sans-serif;
  font-weight: 100;
  font-size: 52px;
  color: #0D1B1E;
  letter-spacing: -2px;
}

.story-container {
  padding: 15px 0 0 0;
}

.story {
  font-family: 'Lato Thin', sans-serif;
  font-weight: 100;
  font-size: 21px;
  color: #0D1B1E; 
}

a.story:hover {
  color: #FF4D00; 
  text-decoration: none;
}

a.story:focus {
  color: #0D1B1E; 
  text-decoration: none;
}

.bullet {
  font-family: 'Lato Thin', sans-serif;
  font-weight: 100;
  color: #FF4D00; 
}

.rank {
  padding: 2px 5px 0 10px;
  font-family: 'Lato Thin', sans-serif;
  font-weight: 100;
  font-size: 18px;
  color: #0D1B1E; 
  text-align: right;
}

.paprika-nav {
  background-color: #FFFFFF;
  border-bottom: 1px solid #FF4D00;
  height: 40px;
  width: 100%;
  margin: 0 0 15px 0;
}

.tagline {
  padding: 10px 0 0 20px;
  font-family: 'Lato Thin', sans-serif;
  font-weight: 100;
  font-size: 10px;
  color: #FF4D00; 
  font-style: uppercase;
}