<div id="footer">
  <div class="container">
    <p class="credit">&copy; Made with ♥ by <%= link_to "Thinh Vu", 'https://twitter.com/tintinvu'%> and <%= link_to "Rose Weixel", 'https://twitter.com/RoseWeixel'%> at The Flatiron School.</p>
  </div>
</div>
